page-menu {
  .menu-inner {
    width: 18rem;
  }
  .profile-container {
    margin: 1rem auto 1rem auto;
    text-align: center;
    img.head-ico {
      width: 4rem;
      border: 0.4rem solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      box-shadow: 0 0 1px 0.1px rgba(0, 0, 0, 0.3);
    }
    ion-label {
      font-size: 1.4rem;
      margin: 0;
      color: white;
    }
  }
  ion-list {
    .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left] {
      margin-right: 0;
      min-width: 0;
      ion-icon {
        margin-right: 8px;
      }
    }
    .label-ios {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}